

.heroSection{
    width: 100%;
}

.heroSection_box{
    padding-block: 5rem;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.heroSection_box_left{
    gap: 2rem;
    justify-content: center;
}

.heroSection_box_vector{
    position: absolute;
    width: 50%;
    height: unset;
    left: -4rem;
    top: 8rem;
}

.heroSection_box_left h2{
    font-size: 2.7em;
    line-height: 1;
    padding-bottom: 2rem;
    font-family: 'Rany', sans-serif;
}

.heroSection_box_left p{
    font-size: 1.4rem;
    line-height: 1;
    width: 25rem;
    padding-bottom: 4rem;
}

.heroSection_box_left_download{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.heroSection_box_left_download2{
    display: none;
}

.heroSection_icon{
    font-size: 1.5rem;
    color: #25D78D;
}
.heroSection_icon_app{
    font-size: 2rem;
    color: #25D78D;
}

.heroSection_box_left_download_btn{
    width: 11rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 2px solid #25D78D;
    color: white;
    background-color: black;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .2rem;
    cursor: pointer;
}

.span{
    font-size: 2rem;

}

.heroSection_box_left_download_btn:hover{
    background-color: rgb(227, 227, 227);
    color: black;
    
}

.heroSection_downTab{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: auto;
    padding: 1rem 3%;
    background-color: black;
    align-items: center;
    align-content: center;
}

.heroSection_downTab h3{
    font-size: 1.8rem;
    width: 75%;
}


.heroSection_downTab h2{
    font-weight: 900;
    font-size: 2.5rem;
}


@media screen and (max-width: 35em) {
    .downTab{
    max-width: 80%;
    height: unset;
    }

    .heroSection_box{
        display: grid;
        grid-template-columns: 1fr;
    }

    .heroSection_box_left p{
    text-align: center;
    font-size: .9rem;
    width: 80%;
    margin: 0 auto;
    }

    .heroSection_box_right{
        width: 80%;
        
    }

    .heroSection_box_vector{
    position: absolute;
    width: 90%;
    height: unset;
    left: 4rem;
    top: 4rem;
}

    .heroSection_box_right_img{
        width: 130%;
        height: unset;
        margin-left: -.7rem;
        margin-top: -2rem;
    }

    .heroSection_box_left h2{
        font-size: 2rem;
        text-align: center;
    }

    .heroSection_box_left_download_btn span{
        font-size: .7rem;
    }

    .heroSection_box_left_download_btn{
    width: 9rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 2px solid #25D78D;
    color: white;
    background-color: black;
    padding: .3rem .7rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .1rem;
    }

    .heroSection_icon{
    font-size: 1rem;
    color: #25D78D;
    }

    .heroSection_icon_app{
    font-size: 1.5rem;
    color: #25D78D;
    }

    .heroSection_box_btnClass{
        width: 80%;
        margin: 0 auto;
        
    }
    .heroSection_box_btnClass2{
        width: 80%;
        margin: 0 auto;
        
    }

    .heroSection_box_left_download2{
    display: flex;
    align-items: center;
    gap: 2rem;
    }
.heroSection_box_left_download{
    display: none;
    }   


    .heroSection_downTab{
        width: 100%;
        margin: auto;
        padding: 1rem .7rem;
        grid-template-columns: repeat(5, 1fr);
        gap: 0rem;
        justify-content: space-around;
    }

    .heroSection_downTab h3{
    font-size: .6rem;
    
    width: 100%;
}

.heroSection_downTab h2{
    padding-right: .9rem;
    font-weight: 900;
    font-size: 1rem;
}

.heroSection_downTab_N{
    width: 60%;
    height: unset;
    padding-left: .3rem;
}




}
@media screen and (min-width: 450px) and (max-width: 768px) {

    .heroSection_box_vector{
    position: absolute;
    width: 100%;
    height: unset;
    left: 4rem;
    top: 0rem;
}
   

    .heroSection_box{
        display: grid;
        grid-template-columns: 1fr;
    }

    .heroSection_box_left p{
    text-align: center;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    }

    .heroSection_box_right{
        width: 80%;
    }

    .heroSection_box_right_img{
        width: 120%;
        height: unset;
    }

    .heroSection_box_left h2{
        font-size: 2rem;
        text-align: center;
    }

    .heroSection_box_left_download_btn span{
        font-size: .7rem;
    }

    .heroSection_box_left_download_btn{
    width: 9rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 2px solid #25D78D;
    color: white;
    background-color: black;
    padding: .3rem .7rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .1rem;
    }

    .heroSection_icon{
    font-size: 1rem;
    color: #25D78D;
    }

    .heroSection_icon_app{
    font-size: 1.5rem;
    color: #25D78D;
    }

    .heroSection_box_btnClass2{
        width: 80%;
        margin: auto;
        padding: 1rem 2rem;
    }

    .heroSection_box_btnClass{
        display: none;
    }

         .heroSection_box_left_download2 {
             display: flex;
             align-items: center;
             gap: 2rem;
             position: relative;
             top: -1rem;
         }
    
         .heroSection_box_left_download {
             display: none;
         }

    .heroSection_downTab{
        width: 100%;
        padding: 1rem 1.5rem;
        grid-template-columns: repeat(5, 1fr);
        gap: 0rem;
        justify-content: space-around;
    }

    .heroSection_downTab h3{
    font-size: 1rem;
    
    width: 100%;
}

.heroSection_downTab h2{
    padding-right: 1rem;
    font-weight: 900;
    font-size: 1.3rem;
}

.heroSection_downTab_N{
    width: 70%;
    height: unset;
}

}
@media screen and (min-width: 770px) and (max-width: 1024px) {

    .heroSection_box_vector{
    position: absolute;
    width: 100%;
    height: unset;
    left: 2rem;
    top: -1.5rem;
}
   
    .heroSection_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .heroSection_box_left p{
    text-align: center;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    }

    .heroSection_box_right{
        width: 80%;
    }

    .heroSection_box_right_img{
        width: 130%;
        position: relative;
        top: -3rem;
        height: unset;
    }

    .heroSection_box_left h2{
        font-size: 2rem;
        text-align: center;
    }

    .heroSection_box_left_download_btn span{
        font-size: .7rem;
    }

    .heroSection_box_left_download_btn{
    width: 9rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 2px solid #25D78D;
    color: white;
    background-color: black;
    padding: .3rem .7rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .1rem;
    }

    .heroSection_icon{
    font-size: 1rem;
    color: #25D78D;
    }

    .heroSection_icon_app{
    font-size: 1.5rem;
    color: #25D78D;
    }

    .heroSection_box_btnClass{
       padding: 0 3rem;
       
        
    }


    .heroSection_downTab{
        width: 100%;
        padding: 1rem 1.5rem;
        grid-template-columns: repeat(5, 1fr);
        gap: 0rem;
        justify-content: space-around;
    }

    .heroSection_downTab h3{
    font-size: 1rem;
    
    width: 100%;
}

.heroSection_downTab h2{
    padding-right: 1rem;
    font-weight: 900;
    font-size: 1.3rem;
}

.heroSection_downTab_N{
    width: 70%;
    height: unset;
}




}